/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */


.board {
  border-width: 15px;
  border-color: black;
  border-style: solid;
  position: absolute;
  left: 400px;
  padding-bottom: 0px;
  background: url('http://media2.giphy.com/media/otJNtCwSVwELK/giphy.gif');
  background-repeat: no-repeat;
  background-size:  720px 635px;
}

.mouse {
  fill: blue;
  z-index: -1;

}

.enemies {
  height: 100%;
  width: 100%;

}